.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.booksContainer{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    padding: 10px;
    height: 70vh;
    width: 70%;
    overflow: scroll;
}

.heartDonate{
    margin-right: 3px;
    color: white;
}

.mainPaymentContainer{
    margin-top: 30px;
    background-color: rgb(231, 231, 231);
    width: 600px;
    height: 600px;
}
.publishButton{
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Aligns the button to the bottom */
    padding: 20px; /* Adds some spacing around the button */
    margin-top: 2rem;
}

.booksGridContainer {
  height: 70%; /* 70% height of its parent */
  overflow-y: scroll; /* Enables vertical scrolling if content overflows */
  width: 100%; /* Full width */
}