.rootContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 100px;
}
.topNav{
    width: 100vw;
    height: 60px;
    background-color: #12b886;
    display: flex;
    align-items: center;
}
.dropZone{
    width: 60%;
    height: 50%;
    border: 1px dashed black;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* .refreshCaptcha{
    width: 200px;
    height: 300px;
} */

.notificationContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 16px;
  z-index: 1000;
  width: 300px;
}

.formInput {
  width: 500px;  
}